<div class="login">
  <h2>ログイン</h2>

  <p class="alert"><%= alert %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>

    <div class="login-form">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>

    <div class="login-button">
      <input type="button" onclick="submit();" value="ログイン" />
    </div>
  <% end %>

  <%= link_to "新しいアカウントを作成", new_user_registration_path %>
</div>

